:root {
  --rightmargin: 200px;
  --leftmargin: 200px;
  --padding: 20px;
  --border: 20px;
  --margin: 10px;
}
* {
  color: white;
  background-color: rgb(55, 53, 53);
}
header {
  position: fixed;
  background-color: blue;
  padding: 20px;
}
.sidebar * {
  color: aquamarine;
  background-color: rgb(168, 82, 82);
  width: 100px;
  left: 500px;
}
.sidebar > h3 {
  position: relative;
  left: 700px;
}
.sidebar > ul {
  position: relative;
  left: 700px;
}
.content {
  position: relative;
  top: 100px;
}
.features {
  border-color: ;
}

.features > h2 {
  padding: var(--padding);
  border: var(--border);
  margin: var(--margin);
  margin-right: var(--rightmargin);
  margin-left: var(--leftmargin);
}
.feature {
  box-sizing: content-box;
  height: 60px;
  width: 500px;
  padding: var(--padding);
  border: var(--border);
  margin: var(--margin);
  margin-right: var(--rightmargin);
  margin-left: var(--leftmargin);
}
.feature > span {
  padding: var(--padding);
  border: var(--border);
  margin-left: 90px;
}
.feature > button {
  margin-left: 90px;
}
